$bg_white: #fff;
$bg_back: #000;
$show_bg_img: true;
$bg_img: url(../img/bg_p.jpg);

$ping_img: url(../img/Ping.png);
$logo: url(../img/Ping-logo.svg);
$bg_opacity: 0.9;
$primary-color: #444;
$secondary-color: #eece1a;
$background-opacity: 0.9;
@mixin trans {
  transition: all 0.5s ease-out;
}
@mixin background {
  // background: $bg_img;
  background-attachment: fixed;
  background-size: cover;
  &:after {
    background: rgba($primary-color, $background-opacity);
  }
}
@mixin easeOut {
  transition: all 0.5s ease-out;
}
@function text_color($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// breakpoints

$S: 320px;
$M: 768px;
$L: 1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (min-width: $M) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (min-width: $L) {
      @content;
    }
  }
}

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

// @mixin center($xy: xy) {
//   @if $xy == xy {
//     left: 50%;
//     top: 50%;
//     bottom: auto;
//     right: auto;
//     @include transform(translateX(-50%) translateY(-50%));
//   } @else if $xy == x {
//     left: 50%;
//     right: auto;
//     @include transform(translateX(-50%));
//   } @else if $xy == y {
//     top: 50%;
//     bottom: auto;
//     @include transform(translateY(-50%));
//   }
// }

// border radius

@mixin border-radius($radius: 0.25em) {
  border-radius: $radius;
}

// colors

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white

// fonts

$primary-font: 'Ubuntu', sans-serif;
