$bg_white: #fff;
$bg_back: #000;
$show_bg_img: true;
$bg_img: url(../img/bg_p.jpg);

$ping_img: url(../img/Ping.png);
$bg_opacity: 0.9;
$primary-color: #444;
$secondary-color: #eece1a;
$background-opacity: 0.9;
@mixin trans {
  transition: all 0.5s ease-out;
}
@mixin background {
  // background: $bg_img;
  background-attachment: fixed;
  background-size: cover;
  &:after {
    background: rgba($primary-color, $background-opacity);
  }
}

@function text_color($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
