@import 'collections';
@import 'react-id-swiper/lib/styles/scss/swiper.scss';

//@import 'react-id-swiper/lib/styles/';
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.logo {
  z-index: 5;
  width: 160px;
  height: 160px;
  background-size: 100px 100px;
  position: fixed;
  background: $logo no-repeat center;
  // background-color: #ff0000;
  // padding: 10px;
  // padding-top: 0px;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}
.cd-section:nth-of-type(odd) {
  background-color: #3e3947;
}
.cd-section:nth-of-type(odd) p {
  color: #898099;
}
.cd-section:nth-of-type(even) {
  background-color: #745360;
}
.cd-section:nth-of-type(even) p {
  color: #bda3ad;
}
.cd-section .intro {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center;
  // background-color: #ff0000;

  .icons {
    margin-top: 1rem;
    a {
      color: $bg_white;
      padding-left: 2rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  .small-size {
    font-size: 1rem;
    top: 0px;
    padding-bottom: 0px;
  }
  .font-left {
    text-align: left;
    padding-left: 10rem;
  }
}
.cd-section h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
  span {
    color: $secondary-color;
  }
  padding: 1em 0;
}
.cd-section h3 {
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
  span {
    color: $secondary-color;
  }
  padding-bottom: 50px;
}
.cd-section p {
  span {
    color: $secondary-color;
  }
  line-height: 1.6;
  // padding-top: 10px;
  padding-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
  }
}

.cd-scroll-down {
  z-index: 10;
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url('../img/cd-arrow-bottom.svg') no-repeat center center;
}
.portrait {
  z-index: 10;
  position: relative;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  background: url('../img/Ping.jpg');
  border-radius: 50%;
  border: solid 3px $bg_white;
  background-size: 100%;
  background-repeat: no-repeat;
  // top: 10px;
  bottom: 10px;
}
.boxes {
  .text-secondary {
    color: $secondary-color;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  // margin: 0;
  color: $bg_white;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: $bg_back;
      span {
        color: $bg_white;
      }
    }
  }
}
.projects {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  span {
    color: $secondary-color;
  }
  .swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  h1 {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  h3 {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .imageBox {
    z-index: 0;
    width: auto;
    height: 15rem;
    background-color: #fff;

    .images {
      background-repeat: no-repeat;
      position: center;
      // background-size: 100% auto;
      left: 50%;
      right: auto;
      background-color: #fff;
      background-position: center;

      // -webkit-transform: translateX(-50%);
      // -moz-transform: translateX(-50%);
      // -ms-transform: translateX(-50%);
      // -o-transform: translateX(-50%);
      // transform: translateX(-50%);
      width: auto;
      height: 15rem;
      // background-color: #ff0000;
    }
  }
}
